<div class="container" style="margin-bottom: 71px;">
  <form (ngSubmit)="onSubmit('submitted')" #f="ngForm">

    <div class="row" >
        <div class="col-sm-7" *ngIf="show"> 
          <p> Rate us on the scale of 1 (Strongly Disagree) to 6 (Strongly Agree), 1 being minimum 6 being maximum </p> 
          <h4 class="rating-note">Note: Please put your <b> Comments </b> for raiting less than 3 and below.</h4>  
          <div class="form-group">
            <label for="options">Options:</label>
            <div *ngFor="let option of options">
                <label>
                    <input type="checkbox"
                           name="{{'ProductID_'+option.projectId}}"
                           value="{{option.projectId}}"
                           [(ngModel)]="option.projectId"/>
                    {{option.projectName}}
                </label>
            </div>
         </div>
        </div>
        <div class="col-sm-7" *ngIf="show1"> 
          <p>You have already submitted feedback form for this quarter.</p> 
        </div>
  
  </div>


<div *ngIf="show">
    <div class="row form-group">
        <div class="col-xs-12 visible-sm visible-xs head-tile" >Please give rating for questions shown below:</div>
      <div class="col-md-5 hidden-sm hidden-xs head-tile" >Question</div>
      <div class="col-md-2 hidden-sm hidden-xs head-tile" >Ratings</div>
      <div class="col-md-5 hidden-sm hidden-xs head-tile">Comments</div>
    </div>
    <!-- First Question for Rating -->
    <div class="row que1 form-group rank-groups" >
      <div class="col-md-5"> <p class="quest"><span class="badge">1</span>TCS met contractual obligations on all perspectives of schedule/time, effort/estimates, financial/budget and SLAs .</p> </div>
      <div class="col-md-3">
        <ngb-rating [(rate)]="selectedRank1"  max="6"  name="ratingValue1"  [(ngModel)]="ratingValue1" style="display: inline-flex!important;">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
      <div class="col-md-4 form-group">
          <textarea
            name="ratingDesc1"  
            #ratingComment1="ngModel"
            rows="1"
            class="form-control"
            [(ngModel)]="ratingDescVal1">
          </textarea>
      </div>
    </div>
    <span class="help-block error-msg-help" *ngIf="selectedRank1  <= 3 && !ratingComment1.value">Please give Comments for first question.</span>

    <!-- Second Question for Rating -->
    <div class="row que2 form-group rank-groups" >
        <div class="col-md-5"> <p class="quest-odd"><span class="badge">2</span>Deliverables (code, documentation, testing, etc.) met agreed requirements with quality.</p> </div>
        <div class="col-md-3">
          <ngb-rating [(rate)]="selectedRank2"  max="6"  name="ratingValue2"  [(ngModel)]="ratingValue2" style="display: inline-flex!important;">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
        <div class="col-md-4 form-group">
            <textarea
              name="ratingDesc2"
              #ratingComment2="ngModel"
              rows="1"
              class="form-control"
              [(ngModel)]="ratingDescVal2">
            </textarea>
        </div>
      </div>
      <span class="help-block error-msg-help" *ngIf="selectedRank2 <= 3 && !ratingComment2.value">Please give Comments for second question.</span>
  
      
    <!-- Third Question for Rating -->
    <div class="row que3 form-group rank-groups" >
        <div class="col-md-5"> <p class="quest"><span class="badge">3</span>TCS team associated with your program possessed sufficient knowledge and understanding of the systems, business areas, technologies and processes .</p> </div>
        <div class="col-md-3">
          <ngb-rating [(rate)]="selectedRank3"  max="6" name="ratingValue3"  [(ngModel)]="ratingValue3" style="display: inline-flex!important;" >
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
        <div class="col-md-4 form-group">
            <textarea
              name="ratingDesc3"
              #ratingComment3="ngModel"
              rows="1"
              class="form-control"
              [(ngModel)]="ratingDescVal3">
            </textarea>
        </div>
      </div>
      <span class="help-block error-msg-help" *ngIf="selectedRank3  <= 3 && !ratingComment3.value">Please give Comments for third question.</span>
  
    <!-- Forth Question for Rating -->
    <div class="row que4 form-group rank-groups" >
        <div class="col-md-5"> <p class="quest-odd"><span class="badge">4</span>All Lilly tools (ProChain, ServiceNow, Quality Center etc )and repositories were kept updated with sufficient and requisite details at all times          .</p> </div>
        <div class="col-md-3">
          <ngb-rating [(rate)]="selectedRank4"  max="6" name="ratingValue4"  [(ngModel)]="ratingValue4" style="display: inline-flex!important;">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
        <div class="col-md-4 form-group">
            <textarea
              name="ratingDesc4"
              #ratingComment4="ngModel"
              rows="1"
              class="form-control"
              [(ngModel)]="ratingDescVal4">
            </textarea>
        </div>
      </div>
      <span class="help-block error-msg-help" *ngIf="selectedRank4  <= 3 && !ratingComment4.value">Please give Comments for fourth question.</span>
  
      <!-- Fifth Question for Rating -->
    <div class="row que5 form-group rank-groups" >
        <div class="col-md-5"> <p class="quest"><span class="badge">5</span>The TCS team adhered to organizational policies including but not limited to training compliance, information security and business continuity        </p> </div>
        <div class="col-md-3">
          <ngb-rating [(rate)]="selectedRank5"  max="6" name="ratingValue5"  [(ngModel)]="ratingValue5" style="display: inline-flex!important;">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
        <div class="col-md-4 form-group">
            <textarea
              name="ratingDesc5"
              #ratingComment5="ngModel"
              rows="1"
              class="form-control"
              [(ngModel)]="ratingDescVal5">
            </textarea>
        </div>
      </div>
      <span class="help-block error-msg-help" *ngIf="selectedRank5  <= 3 && !ratingComment5.value">Please give Comments for fifth question.</span>
  
      <!-- Sixth Question for Rating -->
    <div class="row que6 form-group rank-groups" >
        <div class="col-md-5"> <p class="quest-odd"><span class="badge">6</span>TCS team communicates (both written and oral forms) and coordinates activities effectively in day to day operations          .</p> </div>
        <div class="col-md-3">
          <ngb-rating [(rate)]="selectedRank6"  max="6" name="ratingValue6"  [(ngModel)]="ratingValue6" style="display: inline-flex!important;">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
        <div class="col-md-4 form-group">
            <textarea
              name="ratingDesc6"
              #ratingComment6="ngModel"
              rows="1"
              class="form-control"
              [(ngModel)]="ratingDescVal6">
            </textarea>
        </div>
      </div>
      <span class="help-block error-msg-help" *ngIf="selectedRank6  <= 3 && !ratingComment6.value">Please give Comments for sixth question.</span>
  
      <!-- Seventh Question for Rating -->
    <div class="row que7 form-group rank-groups" >
        <div class="col-md-5"> <p class="quest"><span class="badge">7</span>TCS reports program status effectively and crisply during WSR, MSR sessions
          .</p> </div>
        <div class="col-md-3">
          <ngb-rating [(rate)]="selectedRank7"  max="6" name="ratingValue7"  [(ngModel)]="ratingValue7" style="display: inline-flex!important;">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
        <div class="col-md-4 form-group">
            <textarea
              name="ratingDesc7"
              #ratingComment7="ngModel"
              rows="1"
              class="form-control"
              [(ngModel)]="ratingDescVal7">
            </textarea>
        </div>
      </div>
      <span class="help-block error-msg-help" *ngIf="selectedRank7  <= 3 && !ratingComment7.value">Please give Comments for Seventh question.</span>
  
     <!-- Eighth Question for Rating -->
     <div class="row que8 form-group rank-groups" >
        <div class="col-md-5"> <p class="quest-odd"><span class="badge">8</span>TCS team responds and resolves(including timely escalating as applicable) inquiries/ complaints/ issues/ emergencies in an efficient, effective, and timely manner.          .</p> </div>
        <div class="col-md-3">
          <ngb-rating [(rate)]="selectedRank8"  max="6"  name="ratingValue8"  [(ngModel)]="ratingValue8" style="display: inline-flex!important;">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
        <div class="col-md-4 form-group">
            <textarea
              name="ratingDesc8"
              #ratingComment8="ngModel"
              rows="1"
              class="form-control"
              [(ngModel)]="ratingDescVal8">
            </textarea>
        </div>
      </div>
      <span class="help-block error-msg-help" *ngIf="selectedRank8  <= 3 && !ratingComment8.value">Please give Comments for Eighth question.</span>
  
       <!-- Nineth Question for Rating -->
    <div class="row que9 form-group rank-groups" >
        <div class="col-md-5"> <p class="quest"><span class="badge">9</span>TCS team proactively offers ideas/ options/ suggestions/innovations improving processes, applications, and/or technology.          .</p> </div>
        <div class="col-md-3">
          <ngb-rating [(rate)]="selectedRank9"  max="6" name="ratingValue9"  [(ngModel)]="ratingValue9" style="display: inline-flex!important;">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
        <div class="col-md-4 form-group">
            <textarea
              name="ratingDesc9"
              #ratingComment9="ngModel"
              rows="1"
              class="form-control"
              [(ngModel)]="ratingDescVal9">
            </textarea>
        </div>
      </div>
      <span class="help-block error-msg-help" *ngIf="selectedRank9  <= 3 && !ratingComment9.value">Please give Comments for Nineth question.</span>
  
       <!-- Tenth Question for Rating -->
    <div class="row que10 form-group rank-groups" >
        <div class="col-md-5"> <p class="quest-odd"><span class="badge">10</span>Rate your overall experience with TCS team during the course of the engagement/review period          .</p> </div>
        <div class="col-md-3">
          <ngb-rating [(rate)]="selectedRank10"  max="6" name="ratingValue10"  [(ngModel)]="ratingValue10" style="display: inline-flex!important;">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
        <div class="col-md-4 form-group">
            <textarea
              name="ratingDesc10"
              #ratingComment10="ngModel"
              rows="1"
              class="form-control"
              [(ngModel)]="ratingDescVal10">
            </textarea>
        </div>
      </div>
      <span class="help-block error-msg-help" *ngIf="selectedRank10  <= 3 && !ratingComment10.value">Please give Comments for Tenth question.</span>
 
    <hr>
    <button
          class="btn btn-success btn-smt"
          type="submit"
          [disabled]="(selectedRank1 <= 3 && !ratingComment1.value)
           || (selectedRank2 <= 3 && !ratingComment2.value)
           || (selectedRank3 <= 3 && !ratingComment3.value)
           || (selectedRank4<= 3 && !ratingComment4.value)
           || (selectedRank5 <= 3 && !ratingComment5.value)
           || (selectedRank6 <= 3 && !ratingComment6.value)
           || (selectedRank7 <= 3 && !ratingComment7.value)
           || (selectedRank8 <= 3 && !ratingComment8.value)
           || (selectedRank9<= 3 && !ratingComment9.value)
           || (selectedRank10 <= 3 && !ratingComment10.value)">Submit</button>
        
           <button
           class="btn btn-primary  btn-smt"
           type="button"
           (click)="onSubmit('saved')"
           [disabled]="(selectedRank1 <= 3 && !ratingComment1.value)
            || (selectedRank2 <= 3 && !ratingComment2.value)
            || (selectedRank3 <= 3 && !ratingComment3.value)
            || (selectedRank4 <= 3 && !ratingComment4.value)
            || (selectedRank5 <= 3 && !ratingComment5.value)
            || (selectedRank6 <= 3 && !ratingComment6.value)
            || (selectedRank7 <= 3 && !ratingComment7.value)
            || (selectedRank8 <= 3 && !ratingComment8.value)
            || (selectedRank9<= 3 && !ratingComment9.value)
            || (selectedRank10 <= 3 && !ratingComment10.value)">Save</button>
    </div>           
  </form>
</div>