<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand tata-logo-white tata-group-logo" [routerLink]="['/home']"  title="tata-logo"></a>
      <a class="loginuser" *ngIf="userLoggedInDetails.isLoggedIn"><span class="glyphicon glyphicon-user"></span> <b>Welcome {{userLoggedInDetails.username}} !</b> </a> 
        
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li *ngIf="userLoggedInDetails.isLoggedIn" routerLinkActive="active"><a [routerLink]="['/ratings']">Rating</a></li> -->
        <li *ngIf="userLoggedInDetails.isLoggedIn" style="cursor: pointer" outerLinkActive="active"><a  (click) = "onClickRating()" >Rating</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/stackholders']">Stack Holder</a></li>
        <li><a  >Upload Xls</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!userLoggedInDetails.isLoggedIn" style="cursor: pointer" ><a [routerLink]="['/']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li *ngIf="userLoggedInDetails.isLoggedIn" style="cursor: pointer"><a (click)="onLogout()" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<footer class="container-fluid text-center">
  <span> &copy; 2019 Tata Consultancy Services Limited. All Rights Reserved.</span>
</footer>