/* You can add global styles to this file, and also import other style files */
 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }
  .tata-group-logo {
    margin-top: 9px;
    display: inline-block;
    width: 55px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
.tata-logo-black {
    display: none;
}
.tata-logo-white {
    display: block;
    background-image: url(/assets/tata_group_logo_blue_lg.svg);
}
.dash-heading {
    color: cadetblue;
}
span.help-block.error-msg-help {
  padding-bottom: 22px;
  padding-left: 40px;
  font-size: larger;
  color: #ec1f07;
}