

  
<div class="container-fluid text-center"> 
  
    <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  

      <div class="carousel-inner">
  
        <div class="item active">
          <img src="assets/marbles.jpeg" alt="Los Angeles" style="width:100%;">
          <div class="carousel-caption">
            <h3>Ratingss</h3>
            <p>You rate us. We improve....</p>
          </div>
        </div>
  
        <div class="item">
          <img src="assets/group.jpeg" alt="Chicago" style="width:100%;">
          <div class="carousel-caption">
            <h3>Feedback</h3>
            <p>We are waiting for your feedback</p>
          </div>
        </div>
      
        <div class="item">
          <img src="assets/meeting.jpeg" alt="New York" style="width:100%;">
          <div class="carousel-caption">
            <h3>Introspection</h3>
            <p>The Gen-Y Management Breakthrough</p>
          </div>
        </div>
    
      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>    -->
  <div class="row content" style="margin-top: -18px;">
    <div class="col-sm-2 sidenav">
      <p><a href="https://www.tcs.com/">TCS</a></p>
      <p><a href="https://www.tata.com/">TATA Group</a></p>
      <p><a href="https://twitter.com/TataCompanies">Twitter</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
        <img src="assets/TCSCSS.png" alt="Los Angeles" style="width:100%;">
        <hr>
      <h3 class="dash-heading" >Dear {{UserName}}</h3>
      <p>This survey has been sent to you to get your 'level of satisfaction' & 'feedback' on our current engagement(s) with you. 
          This is in line with our continuous endeavor to understand your expectations better and accordingly improve our processes to up the level of our services in the current and future assignments. Please spare 10 minutes of your time to help us serve you better.</p>
          <hr>
          <div id="color1" class="colorcode" style="width:100%;"> 
              <table width="100%">
              <tbody><tr><td style="font-size: 10pt;" colspan="3">Survey is designed to get your 
                feedback on different service perspectives of :</td> </tr>
              <tr style="font-size: 10pt;height:10px;" colspan="3"><td></td></tr>
              <tr><td width="15px" bgcolor="rgb(73, 85, 90)"></td><td width="5px"></td><td style="font-size: 10pt"> 
                Delivery Quality (4 Questions) </td></tr>
              <tr><td width="15px" bgcolor="rgb(1, 148, 148)"></td><td width="5px"></td><td style="font-size: 10pt">
                Confidentiality (1 Question)</td></tr>
              <tr><td width="15px" bgcolor="rgb(1, 108, 226)"></td><td width="5px"></td><td style="font-size: 10pt">
                Communication (3 Questions)</td></tr>
              <tr><td width="15px" bgcolor="rgb(78, 78, 11)"></td><td width="5px"></td><td style="font-size: 10pt">
                Proactiveness/Going Beyond (1 Question)</td></tr>
              <tr><td width="15px" bgcolor="rgb(185, 71, 110)"></td><td width="5px"></td><td style="font-size: 10pt">
                Overall Experience (1 Question)</td></tr>
              </tbody></table>
              </div>

              <p> </p>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Project Name</th>
                  <th scope="col">Feedback Status</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let option of options; index as i" (click)="onGoToPage(option)">
                  <th scope="row">{{ i + 1 }}</th>
                  <td><a href="javascript: void(0)" (click)="onGoToPage(option)"> {{ option.projectName }}</a></td>
                  <td><a href="javascript: void(0)" (click)="onGoToPage(option)"> {{option.status}}</a></td>
                  <td ><a href="javascript: void(0)" (click)="onGoToPage(option)"> {{option.Action}}</a> </td>
                </tr>
                </tbody>
              </table>  

              <div style="padding-bottom: 5px"><div align="left" style="margin-top: 0in; padding-right: 0in; margin-bottom: 0pt; font-size: 10pt; text-decoration: underline"></div>
<div align="left" style="margin-top: 0in; padding-right: 0in; margin-bottom: 0pt; font-size: 10pt; text-decoration: underline">
	<font size="2" face="Tahoma"><b><u>Please Note :</u></b></font></div><br>
<div align="left" style="margin-top: 0in; padding-right: 0in; margin-bottom: 0pt; font-size: 10pt">
	1. You can drag or click anywhere on the slider to register your response 
	for a particular question.</div>
<div align="left" style="margin-top: 0in; padding-right: 0in; margin-bottom: 0pt; font-size: 10pt">
	2. In case your response is 'Somewhat Disagree', 'Disagree' or 'Strongly 
	Disagree', we request you to provide your valuable comments.</div>
<div align="left" style="margin-top: 0in; padding-right: 0in; margin-bottom: 0pt; font-size: 10pt">
	&nbsp;</div>
<div align="left" style="margin-top: 0in; padding-right: 0in; margin-bottom: 0pt; font-size: 10pt">
	In case you face any issues in accessing or submitting the CSS Form, please 
	write an e-mail to us <a href="mailto:tcs_css_support@lists.lilly.com">TCS 
	Customer Satisfaction Team</a></div>
<div align="left" style="margin-top: 0in; padding-right: 0in; margin-bottom: 0pt; font-size: 10pt; text-decoration: underline"><br></div></div>
 

</div>
    <div class="col-sm-2 sidenav">
        <!-- <h2>Accordion Example</h2> -->
            <p><strong>Note:</strong><strong>Rate us on the scale of 1 (Strongly Disagree) to 6 (Strongly Agree), 1 being minimum 6 being maximum  </strong> Please provide your valuable feeback</p>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Star Rating 1</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <ngb-rating [(rate)]="select1"  max="6" >
                        <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                        </ng-template>
                      </ngb-rating>
                  <div class="panel-body"> <b>Strongly Disagree: </b>This is the lowest rating among 6 . This rating is equivalent to ONE star.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Star Rating 2</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <ngb-rating [(rate)]="select2"  max="6" >
                        <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                        </ng-template>
                      </ngb-rating>
                  <div class="panel-body"> <b>Disagree: </b>This is the second lowest rating among 6 . This rating is equivalent to TWO star.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Star Rating 3</a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <ngb-rating [(rate)]="select3"  max="6" >
                        <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                        </ng-template>
                      </ngb-rating>
                    <div class="panel-body"> <b>Somewhat Disagree: </b>This is the Mid level rating among 6 . This rating is equivalent to THREE star.</div>
                </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Star Rating 4</a>
                    </h4>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse">
                      <ngb-rating [(rate)]="select4"  max="6" >
                          <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                          </ng-template>
                        </ngb-rating>
                      <div class="panel-body"> <b>Somewhat Agree: </b>This is the Third highest rating among 6 . This rating is equivalent to FOUR star.</div>
                  </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Star Rating 5</a>
                      </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <ngb-rating [(rate)]="select5"  max="6" >
                            <ng-template let-fill="fill" let-index="index">
                              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                            </ng-template>
                          </ngb-rating>
                        <div class="panel-body"> <b>Agree: </b>This is the Second highest rating among 6. This rating is equivalent to five star.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Star Rating 6</a>
                        </h4>
                      </div>
                      <div id="collapse6" class="panel-collapse collapse">
                          <ngb-rating [(rate)]="select6"  max="6" >
                              <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                              </ng-template>
                            </ngb-rating>
                          <div class="panel-body"> <b>Agree: </b>This is the Top rating among 6. This rating is equivalent to six star.</div>
                      </div>
                    </div>
            </div>
    </div>
  </div>
</div>
